<!DOCTYPE html>
<html>
<head>
	<title>SignUp and Login</title>
	<link rel="stylesheet" type="text/css" href="../CSS/login.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

	<link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/login.css">
	<link rel="stylesheet" href="/courses.css">


</head>
<body>
 <!-- ---navbar---  -->
 <nav class="navbar navbar-expand-lg">
	<a class="navbar-brand bg-light" href="/"><img src="../Pictures/logo.png" alt="" id="logo"></a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon navbar-dark"></span>
	</button>
	<div class="collapse navbar-collapse"  id="navbarNav" >
	  <ul class="navbar-nav">
		<li class="nav-item active">
		  <a class="nav-link" href="/">HOME</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="/hw">ABOUT US</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="/discussion">DISCUSSION</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="/profile">COURSES</a>
		</li>
		<li class="userlog">
		  <a class="nav-link" href="/login">LOGIN</a>
		</li>
	  </ul>
	</div>
  </nav>

  <!-- end navbar  -->

  <div class="row">
  <div class="col-4">
    <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
      <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="#item-1">Get Started</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ms-3 my-1" href="#item-1-1">Introduction</a>
          <a class="nav-link ms-3 my-1" href="#item-1-2">Fundamental</a>
        </nav>
        <a class="nav-link" href="#item-2">Lesson 1</a>
        <a class="nav-link" href="#item-3">Lesson 2</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ms-3 my-1" href="#item-3-1">Lesson 4</a>
          <a class="nav-link ms-3 my-1" href="#item-3-2">Finals</a>
        </nav>
      </nav>
    </nav>
  </div>

  <div class="col-8">
    <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
      <div id="item-1">
        <h4>Get Started</h4>
        <p>.Take your first steps into the world of IT, or Information Technology! Introduction to IT will teach you about core IT subjects.</p>
      </div>
      <div id="item-1-1">
        <h5>Introduction</h5>
        <p>What you will learn: <br>
Html and CSS basics. These languages are found on all websites.
How to build websites. <br>
Develop your HTML and CSS coding skills by working on actual projects.<br>
Employability skills. Discover the other skills employers want - like team work, confidence and communication.</p>
      </div>
      <div id="item-1-2">
        <h5>Fundamentals</h5>
        <p>Tips <br>
1. Keep your introduction short and clear. <br>

2. Say hello and give a little bit of information about yourself. Don’t say anything too private or personal. <br>

3. You can say what you hope to get or learn.<br>

4. Wish people good luck. <br>

5. You don’t have to write full sentences. <br>

6. You might use more exclamation marks (!) than in formal writing because it looks friendly.</p><br>
      </div>
      <div id="item-2">
        <h4>Activity 1</h4>
        <p>HyperText Transfer Protocol (HTTP) connects you and your website request to the remote server that houses all website data. It’s a set of rules (a protocol) that defines how messages should be sent over the Internet. It allows you to jump between site pages and websites. <br>

When you type a website into your web browser or search for something through a search engine, HTTP provides a framework so that the client (computer) and server can speak the same language when they make requests and responses to each other over the Internet. It’s essentially the translator between you and the Internet — it reads your website request, reads the code sent back from the server, and translates it for you in the form of a website.</p>
      </div>
      <div id="item-3">
        <h4>Activity 2</h4>
        <p>Front-end (or client-side) is the side of a website or software that you see and interact with as an Internet user. When website information is transferred from a server to a browser, front-end coding languages allow the website to function without having to continually “communicate” with the Internet.
<br>
Front-end code allows users to interact with a website and play videos, expand or minimize images, highlight text, and more. Web developers who work on front-end coding work on client-side development.</p>
      </div>
      <div id="item-3-1">
        <h5>Activity 3</h5>
        <p>Back-end (or server-side) is the side that you don’t see when you use the Internet. It’s the digital infrastructure, and to non-developers, it looks like a bunch of numbers, letters, and symbols. <br>

There are more back-end coding languages than front-end languages. That’s because browsers — at the front-end — only understand HTML, CSS, and JavaScript, but a server — at the back-end — can be configured to understand pretty much any language.</p>
      </div>
      <div id="item-3-2">
        <h5>Finals</h5>
        <p>Congrats</p>
      </div>
    </div>
  </div>
</div>

<form class="row g-3 needs-validation pt-3" novalidate>
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">First name</label>
    <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Last name</label>
    <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustomUsername" class="form-label">Username</label>
    <div class="input-group has-validation">
      <span class="input-group-text" id="inputGroupPrepend">@</span>
      <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
      <div class="invalid-feedback">
        Please choose a username.
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <label for="validationCustom03" class="form-label">City</label>
    <input type="text" class="form-control" id="validationCustom03" required>
    <div class="invalid-feedback">
      Please provide a valid city.
    </div>
  </div>
  <div class="col-md-3">
    <label for="validationCustom04" class="form-label">State</label>
    <select class="form-select" id="validationCustom04" required>
      <option selected disabled value="">Choose...</option>
      <option>...</option>
    </select>
    <div class="invalid-feedback">
      Please select a valid state.
    </div>
  </div>
  <div class="col-md-3">
    <label for="validationCustom05" class="form-label">COMMENT</label>
    <input type="text" class="form-control" id="validationCustom05" required>
    <div class="invalid-feedback">
      Please provide a valid zip.
    </div>
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
      <label class="form-check-label" for="invalidCheck">
        Agree to terms and conditions
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Submit form</button>
  </div>
</form>
 

        <script
      defer
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>